[Unit]
Description=Telegram
After=syslog.target
After=network.target

[Service]
Type=simple
User=root
Group=root
WorkingDirectory=/bot
ExecStart=/bot/env/bin/python /bot/app.py
RestartSec=10
Restart=always

[Install]
WantedBy=multi-user.target